Repository EssentialsX/Essentials, pull requests merged in 2021-09, with the labels that each got.

#4479 Replace unneeded inputs with new /ess dump in issue template
  .github/ISSUE_TEMPLATE/report-a-bug.yml
Labels: type: enhancement

#4350 Update to bStats v2
  Essentials/build.gradle
  Essentials/src/main/java/com/earth2me/essentials/metrics/MetricsWrapper.java
  EssentialsXMPP/build.gradle
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/EssentialsXMPP.java
Labels: type: enhancement, module: main

#4508 Fix error with commands ending in single colon
  Essentials/src/main/java/com/earth2me/essentials/AlternativeCommandsHandler.java
Labels: type: bugfix

#4517 Add `/ess dump all` as alias for `/ess dump *`
  .github/ISSUE_TEMPLATE/report-a-bug.yml
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#4524 Fix bed spawn setting when waking up villagers
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#4520 Add action message type
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandme.java
  Essentials/src/main/java/net/essentialsx/api/v2/events/UserActionEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/MessageType.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#4460 Asynchronously filter commands on Paper when possible
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  providers/BaseProviders/src/main/java/net/ess3/provider/CommandSendListenerProvider.java
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BukkitCommandSendListenerProvider.java
  providers/PaperProvider/build.gradle
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperCommandSendListenerProvider.java
  settings.gradle.kts
Labels: type: enhancement, module: main

#4530 Fix verbose command usages not being disabled properly
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: type: bugfix, module: main

#4551 Update plugin.yml authors to reflect EssentialsX contributions
  Essentials/src/main/resources/plugin.yml
  EssentialsAntiBuild/src/main/resources/plugin.yml
  EssentialsChat/src/main/resources/plugin.yml
  EssentialsGeoIP/src/main/resources/plugin.yml
  EssentialsProtect/src/main/resources/plugin.yml
  EssentialsSpawn/src/main/resources/plugin.yml
  EssentialsXMPP/src/main/resources/plugin.yml
Labels: type: enhancement, module: main, module: chat, module: spawn, module: xmpp, module: geo, module: antibuild, module: protect
