Repository EssentialsX/Essentials, pull requests merged in 2021-11, with the labels that each got.

#4603 Minor typo corrections for EssentialsXDiscord
  EssentialsDiscord/src/main/resources/config.yml
Labels: module: discord

#4614 Add translation for /list real name
  Essentials/src/main/java/com/earth2me/essentials/PlayerList.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#4615 Move UUID below alts in /seen
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandseen.java
Labels: type: enhancement, module: main

#4619 Add offline user support to /playtime
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandplaytime.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsCommand.java
Labels: type: enhancement, module: main

#4620 Add /discord command to display invite code
  Essentials/src/main/resources/messages.properties
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/commands/Commanddiscord.java
  EssentialsDiscord/src/main/resources/config.yml
  EssentialsDiscord/src/main/resources/plugin.yml
Labels: type: enhancement, module: discord

#4629 Send discord config in dump even when plugin is disabled
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
Labels: type: bugfix, module: main, module: discord

#4650 Allow unsafe homes when force-disable-teleport-safety is enabled
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsethome.java
Labels: type: bugfix, module: main

#4649 Fix offline player error in /playtime for versions < 1.15.2
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandplaytime.java
Labels: type: bugfix, module: main
