Repository EssentialsX/Essentials, pull requests merged in 2021-07, with the labels that each got.

#3844 Discord Module
  .checkstyle/suppressions.xml
  .github/workflows/build-master.yml
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/IEssentials.java
  Essentials/src/main/java/com/earth2me/essentials/PlayerList.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandlist.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsCommand.java
  Essentials/src/main/java/com/earth2me/essentials/config/ConfigurateUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/DownsampleUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  Essentials/src/main/java/net/essentialsx/api/v2/events/AsyncUserDataLoadEvent.java
  Essentials/src/main/resources/messages.properties
  EssentialsDiscord/README.md
  EssentialsDiscord/build.gradle
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/events/discord/DiscordChatMessageEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/events/discord/DiscordMessageEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/DiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionChannel.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionCommandArgument.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionCommandArgumentType.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionController.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionException.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/InteractionMember.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/MessageType.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/Unsafe.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionChannelImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionCommandImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionControllerImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionEventImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionMemberImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/ExecuteCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/ListCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/MessageCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordCommandDispatcher.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/ConsoleInjector.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordCommandSender.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordMessageRecipient.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/MessageUtil.java
  EssentialsDiscord/src/main/resources/config.yml
  EssentialsDiscord/src/main/resources/plugin.yml
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BukkitSenderProvider.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperCommandSender.java
  settings.gradle.kts
Labels: module: discord, type: enhancement

#4294 Fix afk list NPE
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
Labels: type: bugfix

#3710 Rework Mail System
  Essentials/src/main/java/com/earth2me/essentials/Console.java
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUpgrade.java
  Essentials/src/main/java/com/earth2me/essentials/IEssentials.java
  Essentials/src/main/java/com/earth2me/essentials/IUser.java
  Essentials/src/main/java/com/earth2me/essentials/MailServiceImpl.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmail.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/config/holders/UserConfigHolder.java
  Essentials/src/main/java/com/earth2me/essentials/config/serializers/MailMessageSerializer.java
  Essentials/src/main/java/com/earth2me/essentials/messaging/IMessageRecipient.java
  Essentials/src/main/java/com/earth2me/essentials/messaging/SimpleMessageRecipient.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignMail.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/KeywordReplacer.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/SimpleTextInput.java
  Essentials/src/main/java/net/essentialsx/api/v2/services/mail/MailMessage.java
  Essentials/src/main/java/net/essentialsx/api/v2/services/mail/MailSender.java
  Essentials/src/main/java/net/essentialsx/api/v2/services/mail/MailService.java
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordMessageRecipient.java
Labels: module: main, type: api, type: enhancement

#4295 Ignore case when matching custom item aliases
  Essentials/src/main/java/com/earth2me/essentials/items/CustomItemResolver.java
Labels: module: main, type: bugfix

#4297 Prevent exception when retrieving enchantments
  Essentials/src/main/java/com/earth2me/essentials/Enchantments.java
Labels: module: main, type: bugfix

#4296 Fix typo in mail tab complete
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmail.java
Labels: module: main, type: bugfix

#4298 Disallow empty discord filters
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
Labels: module: discord, type: bugfix

#4307 Fix weird behavior with legacy mails
  Essentials/src/main/java/com/earth2me/essentials/config/serializers/MailMessageSerializer.java
Labels: module: main, type: bugfix

#4303 Fix issues with 3rd-party Vault economy providers
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPluginListener.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/economy/EconomyLayers.java
  Essentials/src/main/java/com/earth2me/essentials/economy/layers/VaultLayer.java
  Essentials/src/main/resources/messages.properties
Labels: module: main, type: bugfix

#4312 Remove usage of java.awt.Color
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
Labels: type: bugfix

#4314 Fix MailMessageSerializer not handling null UUIDs
  Essentials/src/main/java/com/earth2me/essentials/config/serializers/MailMessageSerializer.java
Labels: module: main, type: bugfix

#4318 Fix server shutdown not setting logout location
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: module: main, type: bugfix

#4324 Update to Minecraft 1.17.1
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  README.md
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
Labels: type: enhancement

#4329 Add role placeholder to Discord message format
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: module: discord, type: enhancement

#4330 Add config option to change discord show-avatar url
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: module: discord, type: enhancement

#4332 Prevent NPE in teleport command
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtp.java
Labels: module: main, type: bugfix

#4335 Fix delay not working in /spawn
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/Commandspawn.java
  EssentialsSpawn/src/main/java/net/essentialsx/api/v2/events/UserTeleportSpawnEvent.java
Labels: module: spawn, type: bugfix

#4334 Fix NPE with custom join messages
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: module: main, type: bugfix

#4341 Fix NPE in UserData#getLogoutLocation
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
Labels: module: main, type: bugfix

#4344 Strip formatting from webhook displaynames
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
Labels: module: discord, type: bugfix

#4345 Cache overridden-commands and player-commands in Settings
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
Labels: module: main, type: bugfix

#4346 Fix webhook messages being parsed unnecessarily
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
Labels: module: discord, type: bugfix

#4395 Move FakeServer to 1.8 provider
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  providers/1_8Provider/src/main/java/com/earth2me/essentials/FakeAccessor.java
  providers/1_8Provider/src/main/java/com/earth2me/essentials/FakeServer.java
Labels: module: main, type: bugfix

#4417 Fix NPE during reload with invalid discord bot tokens
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
Labels: module: discord, type: bugfix
