Repository EssentialsX/Essentials, pull requests merged in 2021-08, with the labels that each got.

#4426 Fix bStats becoming a transitive dependency
  Essentials/build.gradle
  build-logic/src/main/kotlin/EssentialsBaseExtension.kt
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
  providers/1_8Provider/build.gradle
  providers/BaseProviders/build.gradle
  providers/NMSReflectionProvider/build.gradle
  providers/PaperProvider/build.gradle
Labels: module: main, type: bugfix

#4370 Fix remaining Configurate nullability issues
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandunlimited.java
  Essentials/src/main/java/com/earth2me/essentials/config/serializers/MaterialTypeSerializer.java
Labels: module: main, type: bugfix

#4348 Fix barrier considered as unsafe block to teleport
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
Labels: module: main, type: enhancement

#4376 Fix invalid mob data in spawnmob on versions < 1.17
  Essentials/src/main/java/com/earth2me/essentials/MobData.java
Labels: module: main, type: bugfix

#4425 Fix regression in invalid home check
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandhome.java
Labels: module: main, type: bugfix

#4409 Update EssXDiscord tutorial for new developer mode location
  EssentialsDiscord/README.md
Labels: type: bugfix, module: discord

#4371 Fix force-disable-teleport-safety enforcing world border
  Essentials/src/main/java/com/earth2me/essentials/AsyncTeleport.java
Labels: type: bugfix, module: main

#4442 Add config option to allow webhooks/bots to send commands
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordCommandDispatcher.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#4419 Make discord chat format world name use world alias
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
Labels: type: enhancement

#4399 Fix disabled-commands not removing aliases
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
Labels: type: bugfix, module: main

#4410 Move update check message out of MOTD task
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#4411 Allow disabling MOTD task and cancel on player logout
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/resources/config.yml
Labels: type: bugfix, module: main

#4428 Allow world name fallback for LazyLocation
  Essentials/src/main/java/com/earth2me/essentials/Jails.java
  Essentials/src/main/java/com/earth2me/essentials/config/entities/LazyLocation.java
  Essentials/src/main/java/com/earth2me/essentials/config/serializers/LocationTypeSerializer.java
Labels: type: enhancement, module: main

#4369 Add name parameter for Discord avatar URL
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#4396 Add config option to disable verbose usage strings
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/resources/config.yml
Labels: type: enhancement, module: main

#4427 Add online/unique placeholders to join/leave formats for discord
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#4452 Fix NPE on webhooks messages with show-webhook-messages enabled
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
Labels: type: bugfix

#4454 Fix improper MOTD delay check
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#4453 Fix bot-command-relay option not ignoring itself
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordCommandDispatcher.java
Labels: type: bugfix, module: discord

#4361 Add `/ess dump` command to generate a debug dump output
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Kits.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandcreatekit.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/utils/PasteUtil.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#4432 Add option for tab complete to use displaynames
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmail.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmsg.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsCommand.java
  Essentials/src/main/resources/config.yml
Labels: type: enhancement, module: main

#4475 Bump Configurate
  Essentials/build.gradle
Labels: type: enhancement, module: main

#4491 Allow auto equip in nbt serialized kits
  Essentials/src/main/java/com/earth2me/essentials/Kit.java
Labels: type: bugfix, module: main

#4484 Fix economy usernames being unsanitized in some places
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
  Essentials/src/main/java/com/earth2me/essentials/UserMap.java
  Essentials/src/main/java/com/earth2me/essentials/api/Economy.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsUserConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/economy/vault/VaultEconomyProvider.java
Labels: type: bugfix, module: main

#4490 Delete (& backup) invalid NPC accounts created by poor econ code
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUpgrade.java
Labels: type: bugfix, module: main

#4497 Add online mode data for /ess dump
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/IEssentials.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  providers/NMSReflectionProvider/src/main/java/net/ess3/nms/refl/providers/ReflOnlineModeProvider.java
Labels: type: enhancement, module: main

#4503 Release 2.19.0
  README.md
  build.gradle
Labels: module: main, module: discord, module: chat, module: spawn, module: xmpp, module: geo, module: antibuild, module: protect
