Repository EssentialsX/Essentials, pull requests merged in 2021-12, with the labels that each got.

#4667 Fix safelogin support with 1.18 world heights
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
Labels: type: bugfix, module: main

#3801 Add support for multiple queued TPA requests
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/IUser.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpa.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpaall.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpacancel.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpaccept.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpahere.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpdeny.java
  Essentials/src/main/java/net/essentialsx/api/v2/events/TeleportRequestResponseEvent.java
  Essentials/src/main/resources/config.yml
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main

#4655 Bump JDA + discord-webhooks dependencies
  EssentialsDiscord/build.gradle
Labels: type: enhancement, module: discord

#4677 Update to MC 1.18.1
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  EssentialsDiscord/build.gradle
  README.md
  build-logic/src/main/kotlin/constants.kt
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
  providers/NMSReflectionProvider/src/main/java/net/ess3/nms/refl/providers/ReflPersistentDataProvider.java
  settings.gradle.kts
Labels: type: enhancement, module: main

#4680 Fix stack overflow when disabling commands from other addons
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: module: main

#4682 Remove ignore teleport metadata
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: enhancement, module: main

#4656 Add DiscordRelayEvent to edit relayed Discord->MC messages
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/events/discord/DiscordRelayEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
Labels: type: enhancement, module: discord

#4686 Truncate Discord interaction messages to proper length
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionEventImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/ConsoleInjector.java
Labels: type: bugfix, module: discord

#4681 Release 2.19.1
  README.md
  build.gradle
Labels: module: main, module: discord

#4690 Prevent IndexOutOfBoundsException in interaction replies
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionEventImpl.java
Labels: type: bugfix, module: discord

#4693 Release 2.19.2
  README.md
  build.gradle
Labels: module: discord

#4707 Remove usused configuration classes
  Essentials/src/main/java/com/earth2me/essentials/EssentialsConf.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUserConf.java
Labels: type: enhancement, module: main

#4706 Prevent future ABI breakage with paper component flattener
  providers/PaperProvider/build.gradle
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperAdvancementListenerProvider.java
Labels: type: bugfix, module: discord

#4708 Fix LocationUtil#getSafeDestination NSME on older versions
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/NumberUtil.java
Labels: type: bugfix, module: main

#4711 Add mitigation for JDK-8274349
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
Labels: type: enhancement, module: discord

#4715 Fix safelogin for 1.18 and above by using worldProvider minHeight
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
Labels: type: bugfix, module: main
