Repository EssentialsX/Essentials, pull requests merged in 2022-02, with the labels that each got.

#4791 Fix paper command executor on modern paper versions
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BukkitSenderProvider.java
  providers/PaperProvider/build.gradle
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperCommandSender.java
Labels: bug: confirmed, module: main, module: discord

#4794 Use Paper command forwarding API
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordCommandSender.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperCommandSender.java
Labels: type: enhancement, module: discord

#4729 Support doubles in /tppos
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtppos.java
Labels: type: enhancement, module: main

#4755 Fix teleport request queue being reversed order
  Essentials/src/main/java/com/earth2me/essentials/IUser.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
Labels: type: bugfix, module: main

#4758 Allow /nick without change-displayname
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandnick.java
Labels: type: enhancement, module: main

#4785 Add additional config files to /ess dump
  Essentials/src/main/java/com/earth2me/essentials/RandomTeleport.java
  Essentials/src/main/java/com/earth2me/essentials/Worth.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
Labels: type: enhancement, module: main

#4725 Fix keepinv policies ignoring offhand
  Essentials/src/main/java/com/earth2me/essentials/EssentialsEntityListener.java
  Essentials/src/main/java/com/earth2me/essentials/craftbukkit/InventoryWorkaround.java
Labels: type: bugfix, module: main

#4748 Fix trade sign length validation issues
  Essentials/src/main/java/com/earth2me/essentials/signs/SignTrade.java
Labels: type: bugfix, module: main

#4713 Add UUID support to trade and protection signs
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/IEssentials.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/signs/EssentialsSign.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignProtection.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignTrade.java
  providers/BaseProviders/src/main/java/net/ess3/provider/SignDataProvider.java
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/ModernSignDataProvider.java
Labels: type: enhancement, module: main

#4728 Add config for max /tree and /bigtree range
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbigtree.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtree.java
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
  Essentials/src/main/resources/config.yml
Labels: type: enhancement, module: main

#4805 Expose OfflinePlayer#setName for use in CMI Importer
  providers/1_12Provider/src/main/java/com/earth2me/essentials/OfflinePlayer.java
Labels: module: main

#4818 Use GitHub proxy fallback for update checker
  Essentials/src/main/java/com/earth2me/essentials/updatecheck/UpdateChecker.java
Labels: type: enhancement, module: main

#4821 Update to Minecraft 1.18.2
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  README.md
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: type: enhancement, module: main
