Repository EssentialsX/Essentials, pull requests merged in 2022-11, with the labels that each got.

#5143 Improve uuid cache load times
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUUIDCache.java
Labels: type: bugfix, module: main

#5149 Fix ConsoleInjector not getting reinjected on reload
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/ConsoleInjector.java
Labels: type: bugfix

#5165 Close discord webhook clients on shutdown
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
Labels: type: bugfix, module: discord
