Repository EssentialsX/Essentials, pull requests merged in 2022-07, with the labels that each got.

#4975 Fix Essentials' logger breaking on 1.8.8-1.12.2
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsLogger.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuild.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
  EssentialsGeoIP/src/main/java/com/earth2me/essentials/geoip/EssentialsGeoIP.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsProtect.java
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/EssentialsSpawn.java
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/EssentialsXMPP.java
  providers/BaseProviders/src/main/java/net/ess3/provider/LoggerProvider.java
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BaseLoggerProvider.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperLoggerProvider.java
Labels: type: bugfix, module: main, module: discord, module: chat, module: spawn, module: xmpp, module: geo, module: protect

#4983 Prevent role snowflakes from resolving roles with ids as names
  Essentials/src/main/java/com/earth2me/essentials/utils/NumberUtil.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
Labels: type: bugfix, module: main

#4985 Fix boolean logic for sleep ignore during afk status change
  Essentials/src/main/java/com/earth2me/essentials/User.java
Labels: type: bugfix, module: main

#4980 Fix nickname feedback message when change-displayname is off
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandnick.java
Labels: type: bugfix, module: main

#5009 Fix leave messages being sent when vanished
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/IUser.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
Labels: type: bugfix, module: discord

#5026 Add swift sneak enchantment
  Essentials/src/main/java/com/earth2me/essentials/Enchantments.java
Labels: type: enhancement, module: main
