Repository EssentialsX/Essentials, pull requests merged in 2022-06, with the labels that each got.

#4918 Don't progress playtime for vanished users
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandplaytime.java
Labels: type: enhancement, module: main

#4851 Update README and contributing guide
  CONTRIBUTING.md
  README.md
Labels: type: enhancement, module: main

#4942 Fix ansi color codes not getting stripped on Paper
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/ConsoleInjector.java
Labels: type: bugfix, module: discord

#4945 Fix places where Discord formatting wasn't sanitized
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/ExecuteCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/ListCommand.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/MessageCommand.java
Labels: type: bugfix, module: discord

#4944 Don't teleport to a safe location for afk freeze when flying
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#4915 Fix paths and farmland not being solid
  Essentials/src/main/java/com/earth2me/essentials/utils/LocationUtil.java
Labels: type: bugfix, module: main

#4959 Log filenames during configuration serialization errors
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
Labels: type: enhancement, module: main

#4960 Fix minecraft namespace not working in give command
  Essentials/src/main/java/com/earth2me/essentials/items/FlatItemDb.java
Labels: type: bugfix, module: main

#4941 Use component logger on Paper for console colors
  Essentials/src/main/java/com/earth2me/essentials/AlternativeCommandsHandler.java
  Essentials/src/main/java/com/earth2me/essentials/Backup.java
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsEntityListener.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsLogger.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUpgrade.java
  Essentials/src/main/java/com/earth2me/essentials/I18n.java
  Essentials/src/main/java/com/earth2me/essentials/Jails.java
  Essentials/src/main/java/com/earth2me/essentials/ManagedFile.java
  Essentials/src/main/java/com/earth2me/essentials/Mob.java
  Essentials/src/main/java/com/earth2me/essentials/MobData.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/Trade.java
  Essentials/src/main/java/com/earth2me/essentials/UUIDMap.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/Warps.java
  Essentials/src/main/java/com/earth2me/essentials/api/Economy.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandgc.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsell.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpaccept.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpdeny.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsCommand.java
  Essentials/src/main/java/com/earth2me/essentials/config/ConfigurationSaveTask.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsUserConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/economy/vault/VaultEconomyProvider.java
  Essentials/src/main/java/com/earth2me/essentials/items/FlatItemDb.java
  Essentials/src/main/java/com/earth2me/essentials/items/LegacyItemDb.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignBlockListener.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/HelpInput.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuild.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuildListener.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsConnect.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayer.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerHighest.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerLowest.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerNormal.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionControllerImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/InteractionEventImpl.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/ConsoleInjector.java
  EssentialsGeoIP/src/main/java/com/earth2me/essentials/geoip/EssentialsGeoIP.java
  EssentialsGeoIP/src/main/java/com/earth2me/essentials/geoip/EssentialsGeoIPPlayerListener.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsConnect.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsProtect.java
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/EssentialsSpawn.java
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/EssentialsSpawnPlayerListener.java
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/EssentialsXMPP.java
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/XMPPManager.java
  providers/BaseProviders/src/main/java/net/ess3/provider/LoggerProvider.java
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BaseLoggerProvider.java
  providers/PaperProvider/build.gradle
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperLoggerProvider.java
Labels: type: enhancement, module: main, module: discord, module: chat, module: spawn, module: geo, module: protect
