Repository EssentialsX/Essentials, pull requests merged in 2022-03, with the labels that each got.

#4826 Fix IllegalAccessException with advancement listener on 1.12.2
  providers/NMSReflectionProvider/src/main/java/net/ess3/nms/refl/providers/AdvancementListenerProvider.java
Labels: module: discord

#4835 Fix preemptive setting of owner metadata on to trade signs
  Essentials/src/main/java/com/earth2me/essentials/signs/EssentialsSign.java
Labels: bug: confirmed, module: main

#4862 Fix double charge for /tpa when target has /tpauto on
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpa.java
Labels: bug: confirmed, type: bugfix

#4869 Reduce user lookups for LuckPerms contexts
  Essentials/src/main/java/com/earth2me/essentials/perm/IPermissionsHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/PermissionsHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/ConfigPermissionsHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/GenericVaultHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/LuckPermsHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/ModernVaultHandler.java
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/SuperpermsHandler.java
Labels: type: enhancement, module: main

#4876 Fix /nick off breaking with changecolor permissions
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandnick.java
Labels: bug: confirmed, module: main
