Repository EssentialsX/Essentials, pull requests merged in 2022-10, with the labels that each got.

#5129 Fix Essentials#getUser not caching newly created NPC users
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUserMap.java
Labels: type: bugfix, module: main

#5125 Make usermap non-player warnings configurable
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUserMap.java
Labels: type: enhancement, type: problem

#5094 Update Bukkit wiki links in config
  Essentials/src/main/resources/config.yml
Labels: type: bugfix, module: main

#5080 Add mutable "viewers" list to DiscordRelayEvent
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/events/discord/DiscordRelayEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
Labels: type: api, module: discord

#5132 Auto complete /mail clear indices
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmail.java
Labels: type: enhancement, module: main

#5131 Improve PlayerTarget code
  Essentials/src/main/java/com/earth2me/essentials/PlayerTarget.java
Labels: type: enhancement, module: main

#5130 Ignore NPCs in JailListener
  Essentials/src/main/java/com/earth2me/essentials/Jails.java
Labels: type: enhancement, module: main

#4995 Added permission node for Nickname Prefix bypass
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/resources/config.yml
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main
