Repository EssentialsX/Essentials, pull requests merged in 2022-08, with the labels that each got.

#5027 Add spawnable boat variants
  Essentials/src/main/java/com/earth2me/essentials/MobCompat.java
  Essentials/src/main/java/com/earth2me/essentials/MobData.java
Labels: type: enhancement, module: main

#5035 Bump to 1.19.2
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  README.md
  build-logic/src/main/kotlin/constants.kt
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
Labels: type: enhancement

#5036 Update VersionUtil and /ess version
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#5030 Implement chat message signing for 1.19.1+
  Essentials/src/main/java/net/ess3/api/events/LocalChatSpyEvent.java
  Essentials/src/main/resources/messages.properties
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/ChatStore.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayer.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerHighest.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerLowest.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChatPlayerListenerNormal.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/ChatProcessingCache.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/LegacyChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/SignedChatHandler.java
Labels: type: enhancement

#4965 Add commands.yml to /ess dump
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/utils/CommandMapUtil.java
Labels: type: enhancement, module: main

#5037 Fix erroneous addition to VersionUtil class check
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
Labels: type: bugfix, module: main

#5041 Fix incorrect chat message length check for formatting
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
Labels: type: bugfix, module: chat

#5049 Prepare for 2.20.0 dev builds
  README.md
  build.gradle
Labels: type: enhancement, module: main

#5061 Prevent players opening their own inventories in /invsee
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandinvsee.java
  Essentials/src/main/resources/messages.properties
Labels: bug: confirmed, type: bugfix

#5062 Fix issues with chat preview refactor
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/ChatProcessingCache.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/SignedChatHandler.java
Labels: bug: confirmed, type: bugfix, module: chat

#5064 Bump down to 2.19.7
  README.md
  build.gradle
Labels: type: bugfix, module: main

#5047 Update Checkstyle IDEA config
  .idea/checkstyle-idea.xml
Labels: type: bugfix

#5067 Fix gson incompatibility on 1.8.8
  Essentials/src/main/java/com/earth2me/essentials/utils/CommandMapUtil.java
Labels: type: bugfix, module: main

#5075 Fix remaining uses of Bukkit's logger
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandhelpop.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandkick.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmute.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtogglejail.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandunban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandunbanip.java
Labels: type: bugfix, module: main

#5076 Fix rgb color codes getting stripped in some cases
  Essentials/build.gradle
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  Essentials/src/test/java/com/earth2me/essentials/utils/FormatUtilTest.java
Labels: type: bugfix, module: main

#5078 Fix baltop not working in command blocks
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalancetop.java
Labels: type: bugfix, module: main

#5079 Fix discord url link message
  Essentials/src/main/resources/messages.properties
Labels: type: bugfix, module: discord

#5082 Release 2.19.7
  README.md
  build.gradle
Labels: type: enhancement, module: main
