Repository EssentialsX/Essentials, pull requests merged in 2023-05, with the labels that each got.

#4684 Add support for local and global chats in Discord
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/events/discord/DiscordChatMessageEvent.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/DiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/api/v2/services/discord/MessageType.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitChatListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/EssentialsChatListener.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#5216 Add HomeModifyEvent for home create/delete/rename/set
  Essentials/src/main/java/com/earth2me/essentials/commands/Commanddelhome.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandrenamehome.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsethome.java
  Essentials/src/main/java/net/essentialsx/api/v2/events/HomeModifyEvent.java
Labels: module: main

#5304 Fire SignChangeEvent in /editsign
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandeditsign.java
Labels: type: bugfix, module: main

#5331 Expire UserMap cache more aggressively and add cache debugging
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUserMap.java
Labels: type: enhancement, module: main

#5338 Fix NPE while syncing offline users for discord line module
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/rolesync/RoleSyncManager.java
Labels: module: discord link

#5353 Fix NPE during reload when deleted warps directory
  Essentials/src/main/java/com/earth2me/essentials/Warps.java
Labels: type: bugfix, module: main

#5364 Fix NPE during first join for LuckPerms contexts
  Essentials/src/main/java/com/earth2me/essentials/perm/impl/LuckPermsHandler.java
Labels: type: bugfix, module: main

#5367 Fix question and shout prefixes with toggle shout
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
Labels: type: bugfix, module: chat

#5366 Fix variables in kits having underscores replaced with spaces
  Essentials/src/main/java/com/earth2me/essentials/MetaItemStack.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/KeywordReplacer.java
Labels: type: bugfix, module: main

#5365 Don't run AntiBuild checks on NPCs
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuildListener.java
Labels: type: bugfix, module: antibuild

#5346 Add ability to get recipe of item in hand
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandrecipe.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#5373 Fix config BigDecimal parsing returning null on error
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsConfiguration.java
Labels: type: bugfix, module: main
