Repository EssentialsX/Essentials, pull requests merged in 2023-08, with the labels that each got.

#5466 Fix remaining offline visibility checks
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/PlayerList.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandkick.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandnear.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandrealname.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandspeed.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsLoopCommand.java
  Essentials/src/main/java/com/earth2me/essentials/commands/EssentialsToggleCommand.java
Labels: type: bugfix, module: main

#4878 Add /mail clear <player> and /mail clearall commands
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmail.java
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main

#4773 Added option to limit amount of lore lines
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commanditemlore.java
  Essentials/src/main/resources/config.yml
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, status: waiting on author, module: main

#4920 Add default book title and authors
  Essentials/src/main/java/com/earth2me/essentials/MetaItemStack.java
  Essentials/src/main/java/com/earth2me/essentials/signs/EssentialsSign.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignFree.java
Labels: type: bugfix, module: main

#5120 Add ability to use texture url in /skull
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandskull.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#5157 Add discord roles blacklist and aliases for chat format
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/DiscordListener.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#5486 Add whitelist indicator for /seen and /whois
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandseen.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandwhois.java
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main

#5491 Fix usermap debug message not being debug
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUserMap.java
Labels: type: bugfix, module: main
