Repository EssentialsX/Essentials, pull requests merged in 2024-03, with the labels that each got.

#5723 Fix banner patterns not working in kits
  Essentials/src/main/java/com/earth2me/essentials/MetaItemStack.java
Labels: type: bugfix

#5715 add textbox to issue template
  .github/ISSUE_TEMPLATE/report-a-bug.yml
Labels: type: enhancement, misc: Long Live EssentialsX

#5737 Fix empty translations being sent to Console
  Essentials/src/main/java/com/earth2me/essentials/CommandSource.java
  Essentials/src/main/java/com/earth2me/essentials/Console.java
Labels: type: bugfix, module: main, misc: adventure

#5739 Don't run keyword replacer by default in translated broadcasts
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: type: bugfix, module: main, misc: adventure

#5752 Use player's max health instead of the default health value on heal s…
  Essentials/src/main/java/com/earth2me/essentials/signs/SignHeal.java
Labels: type: bugfix, module: main
