Repository EssentialsX/Essentials, pull requests merged in 2024-02, with the labels that each got.

#5635 Fix placeholders not parsing inside log messages
  Essentials/src/main/java/com/earth2me/essentials/Backup.java
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUpgrade.java
  Essentials/src/main/java/com/earth2me/essentials/Jails.java
  Essentials/src/main/java/com/earth2me/essentials/Kit.java
  Essentials/src/main/java/com/earth2me/essentials/ManagedFile.java
  Essentials/src/main/java/com/earth2me/essentials/Mob.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/Warps.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandessentials.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandhelpop.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandkick.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandmute.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsell.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtogglejail.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandunban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandunbanip.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/HelpInput.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsConnect.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/EssentialsDiscord.java
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/EssentialsDiscordLink.java
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/rolesync/RoleSyncManager.java
  EssentialsGeoIP/src/main/java/com/earth2me/essentials/geoip/EssentialsGeoIP.java
  EssentialsGeoIP/src/main/java/com/earth2me/essentials/geoip/EssentialsGeoIPPlayerListener.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsConnect.java
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/EssentialsSpawn.java
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/EssentialsXMPP.java
  EssentialsXMPP/src/main/java/com/earth2me/essentials/xmpp/XMPPManager.java
Labels: type: bugfix

#5637 Fix several regressions from adventure PR
  Essentials/src/main/java/com/earth2me/essentials/PlayerList.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalancetop.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandlist.java
  Essentials/src/main/java/com/earth2me/essentials/messaging/SimpleMessageRecipient.java
  Essentials/src/main/java/com/earth2me/essentials/signs/EssentialsSign.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignEnchant.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignFree.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignInfo.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignKit.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignRepair.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignSpawnmob.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignWarp.java
Labels: type: bugfix, module: main

#5648 Fix message display issues from Adventure refactor
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandhelp.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandkick.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandkickall.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandnear.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempban.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtempbanip.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtogglejail.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/HelpInput.java
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/listeners/LinkBukkitListener.java
Labels: type: bugfix, misc: adventure

#5650 Fix component appending in social spy
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, misc: adventure

#5688 Fix messages not sending after /ess reload (Fixes #5663)
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: type: bugfix, misc: adventure

#5704 Update Github Actions
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
Labels: misc: Long Live EssentialsX

#5705 Fix custom message colors config not working
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/utils/AdventureUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/NumberUtil.java
Labels: bug: confirmed, type: bugfix, module: main, misc: adventure

#5700 Fix /me from console
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandme.java
Labels: type: bugfix, module: main, misc: adventure

#5699 Fix /broadcastworld sending in all worlds except the intended one
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbroadcastworld.java
Labels: type: bugfix, module: main

#5698 Fix Discord /list command showing tags in output
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/interactions/commands/ListCommand.java
Labels: type: bugfix, module: discord, misc: adventure

#5702 Fix conversion issues between Legacy and MiniMessage
  Essentials/src/main/java/com/earth2me/essentials/I18n.java
  Essentials/src/main/java/com/earth2me/essentials/utils/AdventureUtil.java
Labels: type: bugfix, module: main, misc: adventure

#5703 Support custom biomes in random teleport excluded biome list
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/IEssentials.java
  Essentials/src/main/java/com/earth2me/essentials/RandomTeleport.java
  providers/BaseProviders/src/main/java/net/ess3/provider/BiomeKeyProvider.java
  providers/PaperProvider/build.gradle
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperBiomeKeyProvider.java
Labels: type: enhancement, module: main

#5711 Hotfix legacy serializer to include capitalized formatting code chars
  Essentials/src/main/java/com/earth2me/essentials/utils/AdventureUtil.java
Labels: type: bugfix, module: main, misc: adventure

#5701 Fix jail-online-time with offline players
  Essentials/src/main/java/com/earth2me/essentials/PlayerExtension.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtogglejail.java
  providers/1_12Provider/src/main/java/com/earth2me/essentials/OfflinePlayerStub.java
Labels: type: bugfix, module: main
