Repository EssentialsX/Essentials, pull requests merged in 2024-10, with the labels that each got.

#5951 Add wind charge to /fireball
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandfireball.java
Labels: type: enhancement, module: main

#5952 Fix recipe message not being translated correctly
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandrecipe.java
  Essentials/src/main/resources/messages.properties
Labels: type: bugfix, module: main, misc: adventure

#5957 Fix confirmClear & confirmPayment messages
  Essentials/src/main/resources/messages.properties
Labels: type: bugfix, module: main

#5958 Update JDA
  EssentialsDiscord/build.gradle
Labels: type: enhancement, module: discord

#5956 Fix error message during warp sign creation
  Essentials/src/main/java/com/earth2me/essentials/signs/SignWarp.java
Labels: type: bugfix, module: main

#5960 Update shadow config for Discord module
  EssentialsDiscord/build.gradle
Labels: type: bugfix, module: discord
