Repository EssentialsX/Essentials, pull requests merged in 2024-11, with the labels that each got.

#5967 Fix repair sign translation error
  Essentials/src/main/java/com/earth2me/essentials/signs/SignRepair.java
Labels: type: bugfix, module: main

#4271 Improvements to Random Teleport
  Essentials/src/main/java/com/earth2me/essentials/AsyncTeleport.java
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  Essentials/src/main/java/com/earth2me/essentials/EssentialsUpgrade.java
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/RandomTeleport.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/java/com/earth2me/essentials/Warps.java
  Essentials/src/main/java/com/earth2me/essentials/api/IWarps.java
  Essentials/src/main/java/com/earth2me/essentials/api/InvalidWorldException.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsettpr.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsetwarp.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandtpr.java
  Essentials/src/main/java/com/earth2me/essentials/config/EssentialsConfiguration.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignRandomTeleport.java
  Essentials/src/main/java/com/earth2me/essentials/signs/Signs.java
  Essentials/src/main/java/net/ess3/api/InvalidWorldException.java
  Essentials/src/main/java/net/ess3/api/events/UserRandomTeleportEvent.java
  Essentials/src/main/resources/config.yml
  Essentials/src/main/resources/tpr.yml
  EssentialsSpawn/src/main/java/com/earth2me/essentials/spawn/EssentialsSpawnPlayerListener.java
Labels: type: enhancement, type: bugfix, module: main, module: spawn

#5822 Add argument to /skull to give skull to other player
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandskull.java
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main

#5686 Discord: Add start time placeholder for start message
  EssentialsDiscord/src/main/java/net/essentialsx/discord/DiscordSettings.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#5921 Fix mini message parsing in NumberUtil#displayCurrency
  Essentials/src/main/java/com/earth2me/essentials/Trade.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalance.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalancetop.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandeco.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandpay.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandsell.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandwhois.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandworth.java
  Essentials/src/main/java/com/earth2me/essentials/economy/vault/VaultEconomyProvider.java
  Essentials/src/main/java/com/earth2me/essentials/signs/SignBalance.java
  Essentials/src/main/java/com/earth2me/essentials/textreader/KeywordReplacer.java
  Essentials/src/main/java/com/earth2me/essentials/utils/NumberUtil.java
Labels: type: bugfix, module: main

#5638 Parse /pay modifiers more strictly
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandpay.java
  Essentials/src/main/java/com/earth2me/essentials/commands/InvalidModifierException.java
  Essentials/src/main/resources/messages.properties
Labels: module: main

#5896 Add method to get all linked players in DiscordLinkService
  EssentialsDiscordLink/src/main/java/net/essentialsx/api/v2/services/discordlink/DiscordLinkService.java
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/AccountLinkManager.java
Labels: type: enhancement, type: api, module: discord

#5595 Add translation key for /alts output
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandseen.java
  Essentials/src/main/resources/messages.properties
Labels: type: enhancement, module: main

#5962 Add locale based comma support for /pay
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandpay.java
  Essentials/src/main/java/com/earth2me/essentials/utils/NumberUtil.java
  Essentials/src/test/java/com/earth2me/essentials/utils/NumberUtilTest.java
Labels: type: enhancement

#5981 Remove extraneous code in command preprocess event handling
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: module: main
