Repository EssentialsX/Essentials, pull requests merged in 2025-03, with the labels that each got.

#6078 Update various dependencies
  Essentials/build.gradle
  EssentialsDiscord/build.gradle
  build-logic/build.gradle.kts
Labels: type: enhancement, module: main, module: discord

#6075 Fix exception sending a chat with discord module
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/PaperChatListener.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: type: bugfix, module: discord

#6074 Fix negative playtime stat breaking /baltop
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalancetop.java
Labels: type: bugfix, module: main

#6081 Add non-reflection provider for syncCommands
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/ModernSyncCommandsProvider.java
Labels: type: enhancement, module: main

#6080 Fix wrong SpawnerBlockProvider on 1.21+
  providers/BaseProviders/src/main/java/net/ess3/provider/providers/BukkitSpawnerBlockProvider.java
Labels: type: bugfix, module: main

#6079 Fix flight ability preservation between worlds
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#6111 Fix NPE when unlinking offline players
  EssentialsDiscordLink/src/main/java/net/essentialsx/discordlink/listeners/LinkBukkitListener.java
Labels: type: bugfix, module: discord link

#6109 Update to Minecraft 1.21.5
  Essentials/src/main/java/com/earth2me/essentials/MobCompat.java
  Essentials/src/main/java/com/earth2me/essentials/MobData.java
  Essentials/src/main/java/com/earth2me/essentials/utils/VersionUtil.java
  Essentials/src/main/resources/items.json
  README.md
  build-logic/src/main/kotlin/essentials.base-conventions.gradle.kts
Labels: type: enhancement

#6113 Fire GlobalChatEvent even when local chat is disabled
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
Labels: bug: confirmed, type: bugfix, module: discord, module: chat

#6114 Fix hex colors not working in chat
  Essentials/src/main/java/com/earth2me/essentials/utils/AdventureUtil.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: type: bugfix, module: chat

#6115 Fix /baltop on 1.15.2 and below
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbalancetop.java
Labels: type: bugfix, module: main

#6116 Fix further trade sign validation mismatches
  Essentials/src/main/java/com/earth2me/essentials/signs/SignTrade.java
Labels: type: bugfix, module: main
