Repository EssentialsX/Essentials, pull requests merged in 2025-08, with the labels that each got.

#6183 Add wind charge explosion protect config
  Essentials/src/main/resources/config.yml
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsProtect.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsProtectEntityListener.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/EssentialsProtectEntityListener_1_21_3_R1.java
  EssentialsProtect/src/main/java/com/earth2me/essentials/protect/ProtectConfig.java
Labels: type: enhancement

#6191 Add tipped arrow support to /potion
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandpotion.java
Labels: type: enhancement, module: main

#6201 Reset oxygen with /heal
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandheal.java
Labels: type: enhancement

#6189 Discord: Add PAPI support to avatar-url
  EssentialsDiscord/src/main/java/net/essentialsx/discord/util/DiscordUtil.java
  EssentialsDiscord/src/main/resources/config.yml
Labels: type: enhancement, module: discord

#6195 Discord: Respect game rule for advancement message type
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/BukkitListener.java
Labels: module: discord

#6258 Add first login date to /seen
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandseen.java
  Essentials/src/main/java/com/earth2me/essentials/utils/DateUtil.java
  Essentials/src/main/resources/messages.properties
  Essentials/src/main/resources/plugin.yml
Labels: type: enhancement, module: main

#6255 Do not lowercase afk timeout commands
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
Labels: type: bugfix, module: main

#6247 Maintain strong reference for online users
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
  Essentials/src/main/java/com/earth2me/essentials/UserData.java
  Essentials/src/main/java/com/earth2me/essentials/userstorage/ModernUserMap.java
Labels: type: bugfix, module: main
