Repository EssentialsX/Essentials, pull requests merged in 2025-02, with the labels that each got.

#6017 Remove deprecated teleport APIs
  Essentials/src/main/java/com/earth2me/essentials/IUser.java
  Essentials/src/main/java/com/earth2me/essentials/Jails.java
  Essentials/src/main/java/com/earth2me/essentials/Teleport.java
  Essentials/src/main/java/com/earth2me/essentials/TimedTeleport.java
  Essentials/src/main/java/com/earth2me/essentials/User.java
  Essentials/src/main/java/com/earth2me/essentials/api/IJails.java
Labels: type: api

#6009 [AntiBuild] Fix ender crystal breaking on 1.8
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuild.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/EssentialsAntiBuildListener.java
  EssentialsAntiBuild/src/main/java/com/earth2me/essentials/antibuild/IAntiBuild.java
Labels: type: bugfix, module: antibuild

#6018 Parse MiniMessage in default command usage & descriptions
  Essentials/src/main/java/com/earth2me/essentials/Essentials.java
Labels: type: bugfix, module: main

#6036 Fix loot tables getting removed with essentials.keepinv
  Essentials/src/main/java/com/earth2me/essentials/EssentialsEntityListener.java
Labels: bug: upstream, type: bugfix, module: main

#6033 Add support for Paper's chat events
  Essentials/src/main/java/com/earth2me/essentials/utils/AdventureUtil.java
  Essentials/src/main/java/com/earth2me/essentials/utils/FormatUtil.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/AbstractChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/ChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/PaperChatHandler.java
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/processing/SpigotChatEvent.java
  build-logic/src/main/kotlin/constants.kt
  providers/BaseProviders/src/main/java/net/ess3/provider/AbstractChatEvent.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatEvent.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: type: bugfix, module: chat

#6047 Fix the wrong potion meta provider being used on 1.8.8
  providers/1_12Provider/src/main/java/net/ess3/provider/providers/LegacyPotionMetaProvider.java
Labels: bug: confirmed

#6055 Fix startup issue with potion providers
  Essentials/src/main/java/com/earth2me/essentials/ProviderFactory.java
  providers/1_12Provider/src/main/java/net/ess3/provider/providers/LegacyPotionMetaProvider.java
Labels: type: bugfix, module: main

#6050 Add config for use of Paper chat events
  Essentials/src/main/java/com/earth2me/essentials/ISettings.java
  Essentials/src/main/java/com/earth2me/essentials/Settings.java
  Essentials/src/main/resources/config.yml
  EssentialsChat/src/main/java/com/earth2me/essentials/chat/EssentialsChat.java
Labels: type: enhancement, module: chat, misc: adventure

#6060 fix some issues with paper chat pr
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatEvent.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: type: bugfix, module: chat

#5908 Add support for AsyncChatEvent in Paper server
  EssentialsDiscord/src/main/java/net/essentialsx/discord/JDADiscordService.java
  EssentialsDiscord/src/main/java/net/essentialsx/discord/listeners/PaperChatListener.java
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: module: discord

#6065 Fix per-world flight permissions
  Essentials/src/main/java/com/earth2me/essentials/EssentialsPlayerListener.java
Labels: type: bugfix, module: main

#6067 Use an identity map for Paper chat listener
  providers/PaperProvider/src/main/java/net/ess3/provider/providers/PaperChatListenerProvider.java
Labels: type: bugfix, module: chat

#6064 Fix /book command on 1.20+
  Essentials/src/main/java/com/earth2me/essentials/MetaItemStack.java
  Essentials/src/main/java/com/earth2me/essentials/commands/Commandbook.java
Labels: type: bugfix, module: main
